<h1>Public Recipes</h1>
<% unless user_signed_in? %>
<%= link_to "Login", user_session_path %>
<% end %>
<% @public_recipes.each do |recipe| %>
<div>
  <section>
    <b><%= link_to recipe.name, user_recipe_path(recipe.user.id, recipe.id)%></b><br><br>
    <h2>By: <%= recipe.user.name %></h2>
  </section>
  <section>
    <p>Total food items: <%= recipe.recipe_foods.count %></p>
    <p>Total price: $<%= price_and_total_food(recipe.recipe_foods) %></p>
  </section>
</div>
<% end %>
