<h1>Recipe <%= @recipe.id %> </h1>
<p>Preparatoin time: <%= @recipe.preparation_time %></p>
<p>Cooking time: <%= @recipe.cooking_time %></p>
<label>Public:<%= check_box_tag 'isPublic', 'no', @recipe.public %><br>
 <%# <%= link_to "Generate shopping list", some_user_shoping_path(@recipe.user_id, @recipe.id)%> %>
<%# <%= link_to 'Add Food Ingredients', new_recipe_food_path(current_user.id, @recipe.id) %> %>
<table>
        <thead>
          <tr>
            <th>Food</th>
            <th>Quantity</th>
            <th>Value </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @recipe_food.each do |rf| %>
            <tr>
              <td><%= rf.food.name %></td>
              <td><%= rf.quantity %></td>
              <td>$<%= rf.food.price %></td>
              <div>
                  <td><%= link_to 'Modify', user_recipe_path %>
                      <%= link_to 'Remove',some_path_to_user_food(current_user.id, @recipe.id, rf.id), method: :delete %>
                  </td>
              </div>
            </tr>
          <% end %>
        </tbody>
</table>
