<h1>Add a new food</h1>
<%= form_with model: @food, url: user_foods_path(@user) do |form|%>
  <div class='mb-3'>
  <%= form.label :name %>
  <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class='mb-3'>
  <%= form.label :measurement_unit %>
  <%= form.text_area :measurement_unit, class: 'form-control' %>
  </div>

  <div class='mb-3'>
  <%= form.label :price %>
  <%= form.text_area :price, class: 'form-control' %>
  </div>
  
  <div class='mb-3'>
  <%= form.submit 'new food' ,class: 'btn btn-primary'%>
  
  </div>
  <% end %>